<h1><%= @company.name %> </h1>
<p>Shipping Container Notes: <%= @company.shipping_container_notes %></p>
<p>Label Notes: <%= @company.label_notes %></p>
<p>ASN Notes: <%= @company.asn_notes %></p>
<p>Routing Notes: <%= @company.routing_notes %></p>

<% if @company.user_id == session[:user_id] %>
	<button><a href="/companies/<%= @company.id %>/edit"><b>Edit Company</b></a></button>

	<form action="/companies/<%= @company.id %>/delete" method="POST">
	  <input id="hidden" type="hidden" name="_method" value="DELETE">
	  <input type="submit" value="Delete Company">
	</form>
	<br></br>

<% end %>
	
	<form action="/comments/<%= @company.id %>" method="POST">
		<label for="user_comment">Got something to add?</label><br>
		<textarea id="user_comment" name="user_comment" rows="4" cols="50" required></textarea>
		<input type="submit" value="submit">
    </form>


<h2>COMMENTS</h2>
<% @company.comments.each do |comment| %>
   <p><%= comment.user.username %> Says:
   <p><%= comment.user_comment %></p>
     <% if comment.user_id == session[:user_id] %>
     <p><%= comment.user.username %><a href="/comments/<%= comment.id %>/edit">Edit this comment</a></p>
     <% end %>
<% end %>

<button class= "btn">
	<a href="/companies" >Return to all Companies</a>
</button>
